Package: libcini
Version: 2.0-3
Architecture: amd64
Maintainer: Weijia Wang <example@upmc.fr>
Installed-Size: 1024
Depends: libc6 (>= 2.24), libsdl-ttf2.0-0, libsdl1.2debian (>= 1.2.15)
Section: utils
Priority: optional
Description: A simple and easy-to-use C initiation library
 libcini is a simple and easy-to-use library for learning the C language.
 .
 - Easy-to-use standard input and output functions
 .
 - Simple debug function to trace program execution
 .
 - Simple pseudo-random functions
 .
 - Minimal graphic library based on SDL
 .
